.container {
    // &:not(li) {
    //     padding: 0;
    // }
    &:has(li) {
        padding: 10px;
    }
    display: grid;
    gap: 10px;

    max-height: 400px;
    height: 100%;
    border-radius: 10px;
    
    box-shadow: 0 0 20px rgb(2, 3, 15);
    background: rgb(12, 4, 58);
    
    overflow: hidden;
    overflow-y: scroll;
    
    list-style: none;
    &::-webkit-scrollbar {
        width: 0;
    }
    li {
        width: 100%;
        background-color: #020b22;
        height: 60px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        cursor: pointer;
        p {
            display: flex;
            align-items: center;
            color: white;
            &:nth-child(1) {
                width: 46px;
                border-radius: 50%;
                justify-content: center;
                font-weight: bold;
                border: 1px solid rgba(231, 231, 231, 0.295);
            }

            &:nth-child(2) {
                width: 100%;
            }
        }
    }
}